#lupa{
    filter: invert(100%);
}

#boton-buscar:hover>#lupa{
    filter: invert(0%);
}

#boton-buscar:focus>#lupa{
    filter: invert(0%);
}

.navbar-toggler:focus {
    box-shadow: none;
}

h1{
    text-align: center;
    margin-bottom: 50px;
}

.personaje{
    margin-left: 50px;
    margin-top: 50px;
}

.badge{
    font-size: 0.9rem;
}
/* .img-pj{
    width: 300px;
    padding: 50px;
    margin-right: 70px;
    margin-left: 40px;
} */

/* .parrafo{
    position: relative;
    display: inline;
}

.p2{
    left: 100px;
}

.p3{
    top: 100px;
} */

#sobre-nosotros{
    top: 59%;
}